extends ./layouts/common.pug

block content
    h1 Hello #{name}

    img(src='/images/1.jpg', class="img")
    a(href='/', class="btn btn-primary ml-1") Home
    a(href='/users', class="btn btn-success ml-2") User List
    


    